/* ProximaNova-Regular */
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ProximaNova-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Proxima Nova"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#MerriweatherSans") format("svg");
  /* Legacy iOS */ }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Proxima Nova", serif; }

.form__content {
  margin: 20px; }

.form__body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.form__tit {
  font-size: 48px;
  margin-bottom: 27px;
  line-height: 1; }

.form-item {
  width: 100%;
  position: relative; }

.form__input {
  width: 100%;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 12px 5px;
  border: 1px solid #3b73b6;
  margin-bottom: 20px; }
  .form__input::-webkit-input-placeholder {
    color: #687789; }
  .form__input:-moz-placeholder {
    color: #687789; }
  .form__input::-moz-placeholder {
    color: #687789; }
  .form__input:-ms-input-placeholder {
    color: #687789; }
  .form__input::-ms-input-placeholder {
    color: #687789; }
  .form__input::placeholder {
    color: #687789; }

.form__textarea {
  width: 100%;
  height: 250px;
  resize: none;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #3b73b6;
  padding: 5px 5px;
  margin-bottom: 20px; }
  .form__textarea::-webkit-input-placeholder {
    color: #687789; }
  .form__textarea:-moz-placeholder {
    color: #687789; }
  .form__textarea::-moz-placeholder {
    color: #687789; }
  .form__textarea:-ms-input-placeholder {
    color: #687789; }
  .form__textarea::-ms-input-placeholder {
    color: #687789; }
  .form__textarea::placeholder {
    color: #687789; }

.form__btn {
  margin-top: 18px;
  padding: 9px 37px;
  background: #ffcdff;
  border: 1px solid #ffcdff;
  color: #794a79;
  cursor: pointer;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s; }
  .form__btn:hover {
    background: rgba(255, 205, 255, 0.8);
    border: 1px solid rgba(255, 205, 255, 0.8);
    color: rgba(121, 74, 121, 0.8); }

.required {
  position: relative; }

.err-input {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 0);
  margin-bottom: -25px;
  background: #636363;
  color: white;
  z-index: 10;
  padding: 5px 20px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  white-space: pre;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s; }

.err-input:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  border: 7px solid transparent;
  border-bottom: 7px solid #636363; }

.windows8 {
  position: relative;
  width: 20px;
  height: 20px;
  margin: auto; }

.windows8 .wBall {
  position: absolute;
  width: 19px;
  height: 19px;
  opacity: 0;
  transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  animation: orbit 6.96s infinite;
  -o-animation: orbit 6.96s infinite;
  -ms-animation: orbit 6.96s infinite;
  -webkit-animation: orbit 6.96s infinite;
  -moz-animation: orbit 6.96s infinite; }

.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #794a79;
  left: 0px;
  top: 0px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.windows8 #wBall_1 {
  animation-delay: 1.52s;
  -o-animation-delay: 1.52s;
  -ms-animation-delay: 1.52s;
  -webkit-animation-delay: 1.52s;
  -moz-animation-delay: 1.52s; }

.windows8 #wBall_2 {
  animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s; }

.windows8 #wBall_3 {
  animation-delay: 0.61s;
  -o-animation-delay: 0.61s;
  -ms-animation-delay: 0.61s;
  -webkit-animation-delay: 0.61s;
  -moz-animation-delay: 0.61s; }

.windows8 #wBall_4 {
  animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -moz-animation-delay: 0.91s; }

.windows8 #wBall_5 {
  animation-delay: 1.22s;
  -o-animation-delay: 1.22s;
  -ms-animation-delay: 1.22s;
  -webkit-animation-delay: 1.22s;
  -moz-animation-delay: 1.22s; }

@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 0%; }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -moz-transform: rotate(410deg);
    transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    origin: 7%; }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -moz-transform: rotate(645deg);
    transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 30%; }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -moz-transform: rotate(770deg);
    transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 39%; }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 70%; }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    transform: rotate(900deg); }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    transform: rotate(900deg); } }

@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out; }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%; }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%; }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%; }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%; }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%; }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg); }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg); } }

@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out; }
  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 0%; }
  30% {
    opacity: 1;
    -moz-transform: rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin: 7%; }
  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 30%; }
  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 39%; }
  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 70%; }
  76% {
    opacity: 0;
    -moz-transform: rotate(900deg); }
  100% {
    opacity: 0;
    -moz-transform: rotate(900deg); } }

.msg-ok {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #3b73b6;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .msg-ok img {
    max-width: 100px; }
  .msg-ok p {
    margin: 0 0 0 20px; }

.capcha__wrap {
  position: relative; }

.err-captcha {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  margin-bottom: -25px;
  background: #636363;
  color: white;
  z-index: 10;
  padding: 5px 20px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  white-space: pre;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s; }

.err-captcha:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  border: 7px solid transparent;
  border-right: 7px solid #636363; }